*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

/RemoteSystemsTempFiles
/LessLinter/test/dialog.less
/LessLinter/test/flightboard-fonts.less
/LessLinter/test/flightboard-types.less
/LessLinter/test/flightboard.less
/LessLinter/test/general.less
/LessLinter/test/grid.less
/LessLinter/test/output.css
/LessLinter/test/reset.less
/LessLinter/test/simple.less
/LessLinter/test/types.less
