/*
@import "blabla.less";

@inputFontFamily: 'Tahoma', 'Verdana', sans-serif;

@base-color: green;
@dark-color: darken(@base-color, 10%);

@nice-blue: 12;
@light-blue: (-@nice-blue/2 + 111) * 12;
*/

@-webkit-keyframes fadeInRight { .animation-fadeInRight; }

/*
.animation-fadeInRight () {
    0% {
        .transparent(0);
        -webkit-transform: translateX(150px);
           -moz-transform: translateX(150px);
            -ms-transform: translateX(150px);
             -o-transform: translateX(150px);
                transform: translateX(150px);
    }

    100% {
        .transparent(100);
        -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
            -ms-transform: translateX(0);
             -o-transform: translateX(0);
                transform: translateX(0);
    }
}
*/
/*
.double-border-box {
    border  : solid 1px rgba(0, 0, 0, .2);
    outline : none;
    
    > *:not(form) {
        border           : solid 1px #333333;
        background-color : #ffffff;
    }

    &:after { outline: none; }
}
*/
/*
.my-hover-mixin() {
  &:hover {
    border: 1px solid red;
  }
}

.overlay.tint {
    .black;
    background-color: rgba(0,0,0,0.5);
}

.image (@url: none) { background-image: @url; background-repeat: no-repeat; background-position: center center; text-align: left; text-indent: -9999px; overflow: hidden; }

.gradient (@top_color, @bottom_color, @start: 0%, @stop: 100%, @position: top, @w3c_position: to bottom) {
    background-image: -moz-linear-gradient(@position, @top_color @start, @bottom_color @stop); // FF3.6+
    background-image: -webkit-gradient(linear, left @position, left bottom, color-stop(@start, @top_color), color-stop(@stop, @bottom_color)); // Chrome,Safari4+
    background-image: -webkit-linear-gradient(@position, @top_color @start, @bottom_color @stop); // Chrome10+,Safari5.1+
    background-image: linear-gradient(@w3c_position, @top_color @start, @bottom_color @stop); // W3C
    background-repeat: no-repeat;
}

.transform {
    -webkit-transform: @param;
       -moz-transform: @param;
            transform: @param;
}
*/
/*
input[type='text'], #selector {
    background-color: spin(lighten(@base, 25%), 8);
    content      : "•";
    padding: 5px 6px 1px 1px;
    background: url("@{images}/white-sand.png");
    background : url(img/loader_dots_white_L.gif) center no-repeat transparent;
    
    .loading-message {
        width      : 100%;
        text-align : center;
        color      : #444;
        font       : normal 13px Arial;
    }
    
    &:hover:after, &:hover:before {
        visibility : visible;
        opacity    : 1;
    }
}
*/
/*
@font-face {
    font-family: 'Helvetica Neue LT Pro 25 Ultra Light';
    src: url('fonts/helveticaneueltpro-ultlt-webfont.woff') format('woff'),
         url('fonts/helveticaneueltpro-ultlt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/