@import "blabla.less";

@inputFontFamily: 'Tahoma', 'Verdana', sans-serif;

@base-color: green;
@dark-color: darken(@base-color, 10%);

@nice-blue: 12;
@light-blue: (-@nice-blue/2 + 111) * 12;

.selector {
    padding: 5px 6px 1px 1px;
    background: url("@{images}/white-sand.png");
    background : url(img/loader_dots_white_L.gif) center no-repeat transparent;
}